<main class="container my-5">
    <section class="mx-3 d-flex align-items-center justify-content-center">
        <p-progressSpinner *ngIf="loading"></p-progressSpinner>

        <div *ngIf="!loading" class="card bg-light text-center">
            <div class="card-body">
                <ng-container *ngIf="verificationSuccess">
                    <div class="verification-icon text-success mt-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                            class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg>
                    </div>
                    <h3 class="mt-4">{{'label.verifyEmail.success.title' | translate}}</h3>
                    <p class="my-4">
                        {{'label.verifyEmail.success.text' | translate}}
                    </p>
                </ng-container>
                <ng-container *ngIf="verificationError">
                    <div class="verification-icon text-danger mt-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                            class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z" />
                        </svg>
                    </div>
                    <h3 class="mt-4">{{'label.verifyEmail.error.title' | translate}}</h3>
                    <p class="my-4">{{'label.verifyEmail.error.text' | translate}}
                    </p>
                </ng-container>
            </div>
        </div>
    </section>

</main>