<article class="card h-100 rounded-0 border-0">
    <a [routerLink]="['/products', colorProductVariant.product.slug]"
        [queryParams]="{ color: colorProductVariant.color.slug}">
        <img appImgBroken [defaultImage]="'assets/images/image-not-available.png'"
            [src]="colorProductVariant.mainImageUrl" class="card-img-top rounded-0 image-loading"
            alt="{{ colorProductVariant.product.title }}" (load)="onImageLoad()"
            [ngClass]="{'image-loaded': imageLoaded}" />
    </a>
    <div class="card-body px-0" *ngIf="imageLoaded">
        <h4 class="fw-bold">{{ colorProductVariant.product.title }}</h4>
        <div class="d-flex">
            <span *ngIf="colorProductVariant.finalPrice < colorProductVariant.basePrice" class="base-price me-1">{{
                colorProductVariant.basePrice }} €</span>
            <span>{{ colorProductVariant.finalPrice }} €</span>
        </div>


    </div>
</article>