<p-confirmDialog styleClass="mx-3" defaultFocus="none" acceptLabel="{{'label.confirm.accept' | translate}}"
    rejectLabel="{{'label.confirm.reject' | translate}}" [transitionOptions]="'0ms'" [closable]=false
    icon="pi pi-question"></p-confirmDialog>

<main class="container my-5">
    <section class="mx-3">
        <div *ngIf="!loading" class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="header-title mb-5">{{'title.user.account' | translate}} {{ this.authUser?.firstName }}
                </h1>

                <div class="clickable" [routerLink]="['/account/orders']">
                    <h4 class="fw-bold">{{'title.account.orders' | translate}}</h4>
                    <p>{{'label.account.orders' | translate}}</p>
                    <hr class="mt-4 mb-5">
                </div>

                <div class="clickable" [routerLink]="['/account/details']">
                    <h4 class="fw-bold">{{'title.account.details' | translate}}</h4>
                    <p>{{'label.account.details' | translate}}</p>
                    <hr class="mt-4 mb-5">
                </div>

                <div class="clickable" [routerLink]="['/account/change-password']">
                    <h4 class="fw-bold">{{'title.account.changePassword' | translate}}</h4>
                    <p>{{'label.account.changePassword' | translate}}</p>
                    <hr class="mt-4 mb-5">
                </div>

                <div *ngIf="!this.authUser?.emailVerified" class="clickable" (click)="requestEmailVerification()">
                    <h4 class="fw-bold">{{'title.account.verifyEmail' | translate}}</h4>
                    <p>{{'label.account.verifyEmail' | translate}}</p>
                    <hr class="mt-4 mb-5">
                </div>

                <div class="d-grid">
                    <button class="btn btn-primary btn-lg fw-bold" (click)="logout()" type="button">
                        {{ 'title.logout' | translate }}</button>
                </div>

            </div>
        </div>
    </section>

</main>