<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <p>{{ 'label.rights' | translate }}</p>
            </div>
            <div class="col-md-6 col-lg-8">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <ul class="list-unstyled">
                            <li><a class="footerLink" href="#">POLÍTICA DE ENVÍOS</a></li>
                            <li><a class="footerLink" href="#">CAMBIOS Y DEVOLUCIONES</a></li>
                            <li><a class="footerLink" href="#">CONTACTO</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <ul class="list-unstyled">
                            <li><a class="footerLink" href="#">TALLAS</a></li>
                            <li><a class="footerLink" href="#">RECOMENDACIONES DE CUIDADO</a></li>
                            <li><a class="footerLink" href="#">CONDICIONES DE COMPRA</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <ul class="list-unstyled">
                            <li><a class="footerLink" href="#">TÉRMINOS DE SERVICIO</a></li>
                            <li><a class="footerLink" href="#">POLÍTICA DE PRIVACIDAD</a></li>
                            <li><a class="footerLink" href="#">POLÍTICA DE COOKIES</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <ul class="list-unstyled">
                            <li><a class="footerLink" href="#">LEGAL</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>