<main class="container my-5">
    <section class="mx-3">

        <div class="row">
            <h1 class="header-title mb-5"> {{ 'title.careTips' | translate }} </h1>
            <p class="mb-4">{{ 'label.careTips' | translate }}</p>
            <ul>
                <li class="mb-4">{{ 'label.careTips.tip1' | translate }}
                </li>
                <li class="mb-4">{{ 'label.careTips.tip2' | translate }}
                </li>
                <li class="mb-4">{{ 'label.careTips.tip3' | translate }}
                </li>
                <li class="mb-4">{{ 'label.careTips.tip4' | translate }}
                </li>
                <li class="mb-4">{{ 'label.careTips.tip5' | translate }}
                </li>
                <li class="mb-4">{{ 'label.careTips.tip6' | translate }}
                </li>

            </ul>
        </div>

    </section>
</main>