<p-toast position="bottom-center" [breakpoints]="{'920px': {width: '90%'}}"></p-toast>

<main class="container my-5">
    <section class="mx-2">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form [formGroup]="form" (ngSubmit)="changePassword()">
                    <h2 class="header-title mb-5">{{ 'title.account.changePassword' | translate }}</h2>

                    <!-- Old Password input -->
                    <div class="form-floating mb-3">
                        <input [type]="showOldPassword ? 'text' : 'password'" autocomplete="current-password" formControlName="oldPassword"
                            class="form-control" id="inputOldPassword" placeholder
                            [ngClass]="{ 'is-invalid': form.get('oldPassword')!.invalid && this.submited }">
                        <label for="inputOldPassword">{{ 'label.oldPassword' | translate }}</label>
                        <div *ngIf="form.get('oldPassword')!.hasError('required')" class="invalid-feedback">
                            {{ 'label.validation.oldPasswordRequired' | translate }}
                        </div>
                        <div *ngIf="form.get('oldPassword')!.hasError('required') == false && (form.get('oldPassword')!.hasError('minlength') || form.get('oldPassword')!.hasError('invalidPasswordFormat'))"
                            class="invalid-feedback">
                            {{ 'label.validation.invalidPassword' | translate }}
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" (click)="toggleOldPasswordVisibility()">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{ 'label.showPassword' | translate }}
                            </label>
                        </div>
                    </div>

                    <!-- New Password input -->
                    <div class="form-floating mb-3">
                        <input [type]="showNewPassword ? 'text' : 'password'" autocomplete="new-password" formControlName="password"
                            class="form-control" id="inputPassword" placeholder
                            [ngClass]="{ 'is-invalid': form.get('password')!.invalid && this.submited }">
                        <label for="inputPassword">{{ 'label.newPassword' | translate }}</label>
                        <div *ngIf="form.get('password')!.hasError('required')" class="invalid-feedback">
                            {{ 'label.validation.newPasswordRequired' | translate }}
                        </div>
                        <div *ngIf="form.get('password')!.hasError('required') == false && (form.get('password')!.hasError('minlength') || form.get('password')!.hasError('invalidPasswordFormat'))"
                            class="invalid-feedback">
                            {{ 'label.validation.invalidPassword' | translate }}
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" (click)="toggleNewPasswordVisibility()">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{ 'label.showPassword' | translate }}
                            </label>
                        </div>
                    </div>

                    <!-- New Password Confirmation input -->
                    <div class="form-floating mb-3">
                        <input type="password" formControlName="passwordRepeat" autocomplete="new-password" class="form-control"
                            id="inputPasswordRepeat" placeholder
                            [ngClass]="{ 'is-invalid': form.get('passwordRepeat')!.invalid && this.submited }">
                        <label for="inputPasswordRepeat">{{ 'label.newPasswordRepeat' | translate }}</label>
                        <div *ngIf="form.get('passwordRepeat')!.hasError('required')" class="invalid-feedback">
                            {{ 'label.validation.newPasswordConfirmationRequired' | translate }}
                        </div>
                        <div *ngIf="form.get('passwordRepeat')!.hasError('required') == false && (form.get('passwordRepeat')!.hasError('minlength') || form.get('passwordRepeat')!.hasError('invalidPasswordFormat'))"
                            class="invalid-feedback">
                            {{ 'label.validation.invalidPassword' | translate }}
                        </div>

                    </div>

                    <!-- Submit button -->
                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg fw-bold" type="submit" [disabled]="this.disableForm">
                            {{ 'label.submitRequest' | translate }}</button>
                    </div>

                </form>
            </div>
        </div>
    </section>

</main>