/* You can add global styles to this file, and also import other style files */

$primary: #ffcc03;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.fw-bold {
  color: black;
}

.clickable {
  cursor: pointer;
}

/* Estilos para el componente del footer */
app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
