/* You can add global styles to this file, and also import other style files */

$primary: #ffcc03;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.fw-bold {
  color: black;
}

.clickable {
  cursor: pointer;
}

.header-title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2.5em;
}

.btn {
  border-radius: 0; /* Bordes rectos */
}

.btn-lg {
  height: 55px;
}

.form-control {
  border-radius: 0; /* Bordes rectos */
}

.toggleVisibilityPassword {
  position: absolute;
  bottom: 1.1em;
  right: 0;
  cursor: pointer;
  margin-right: 10px;
}
