/* You can add global styles to this file, and also import other style files */

:root {
  --brand-main: #ffcc03;
}

::selection {
  background-color: black;
  color: white; /* Para cambiar el color del texto cuando está seleccionado */
}

$primary: #ffcc03;
$secondary: #000000;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "primeng/resources/themes/mdc-light-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  padding-top: 90px;

}

.fw-bold {
  color: black;
}

.clickable {
  cursor: pointer;
}

.header-title {
  font-weight: 900;
  text-transform: uppercase;
}

.btn {
  border-radius: 0; /* Bordes rectos */
}

.btn-lg {
  height: 55px;
}

.base-price {
  text-decoration: line-through; /* Tachado del precio original */
  color: #d40000;
}

.form-control {
  border-radius: 0; /* Bordes rectos */
  border: 0;
  border-bottom: 1px solid #b3b3b3;
}

.toggleVisibilityPassword {
  position: absolute;
  bottom: 1.1em;
  right: 0;
  cursor: pointer;
  margin-right: 10px;
}

.image-loading {
  opacity: 0; /* Comienza con opacidad 0 para ocultar la imagen */
  transition: opacity 0.5s ease; /* Transición suave de opacidad */
}

/* Mostrar la imagen gradualmente al cargar */
.image-loaded {
  opacity: 1;
}

.p-progress-spinner-circle {
  stroke: var(--brand-main) !important;
}

.p-button {
  background: var(--brand-main) !important;
  color: black !important;
}

.p-button:enabled:hover {
  background: #ffdb4a !important;
}

.p-galleria .p-galleria-item-nav {
  color: black !important;
}

.form-control:focus {
  box-shadow: none !important;
  border-bottom: 1px solid black;
}