<p-toast position="bottom-center" [breakpoints]="{'920px': {width: '90%'}}"></p-toast>

<main class="container my-5">
    <section class="mx-2">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form [formGroup]="form" (ngSubmit)="signUp()">
                    <h2 class="header-title mb-5">{{ 'title.register' | translate }}</h2>

                    <!-- Firstname input -->
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="firstName" class="form-control" id="inputFirstname"
                            placeholder [ngClass]="{ 'is-invalid': form.get('firstName')!.invalid && this.submited }">
                        <label for="inputFirstname">{{ 'label.firstname' | translate }}</label>
                        <div *ngIf="form.get('firstName')!.hasError('required')" class="invalid-feedback">
                            {{ 'label.validation.firstnameRequired' | translate }}
                        </div>
                        <div *ngIf="form.get('firstName')!.hasError('required') == false && (form.get('firstName')!.hasError('minlength') || form.get('firstName')!.hasError('maxlength'))"
                            class="invalid-feedback">
                            {{ 'label.validation.firstnameLength' | translate }}
                        </div>
                    </div>

                    <!-- Lastname input -->
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="lastName" class="form-control" id="inputLastname"
                            placeholder [ngClass]="{ 'is-invalid': form.get('lastName')!.invalid && this.submited }">
                        <label for="inputLastname">{{ 'label.lastname' | translate }}</label>
                        <div *ngIf="form.get('lastName')!.hasError('required')" class="invalid-feedback">
                            {{ 'label.validation.lastnameRequired' | translate }}
                        </div>
                        <div *ngIf="form.get('lastName')!.hasError('required') == false && (form.get('lastName')!.hasError('minlength') || form.get('lastName')!.hasError('maxlength'))"
                            class="invalid-feedback">
                            {{ 'label.validation.lastnameLength' | translate }}
                        </div>
                    </div>

                    <!-- Email input -->
                    <div class="form-floating mb-3">
                        <input type="email" formControlName="email" autocomplete="email" class="form-control rounded-0" id="inputEmail"
                            placeholder [ngClass]="{ 'is-invalid': form.get('email')!.invalid && this.submited }">
                        <label for="inputEmail">{{ 'label.email' | translate }}</label>
                        <div *ngIf="form.get('email')!.hasError('required')" class="invalid-feedback">
                            {{ 'label.validation.emailRequired' | translate }}
                        </div>
                        <div *ngIf="form.get('email')!.hasError('invalidEmail')" class="invalid-feedback">
                            {{ 'label.validation.invalidEmail' | translate }}
                        </div>
                    </div>

                    <!-- Password input -->
                    <div class="form-floating mb-3">
                        <input [type]="showPassword ? 'text' : 'password'" autocomplete="new-password" formControlName="password"
                            class="form-control" id="inputPassword" placeholder
                            [ngClass]="{ 'is-invalid': form.get('password')!.invalid && this.submited }">
                        <label for="inputPassword">{{ 'label.password' | translate }}</label>
                        <div *ngIf="form.get('password')!.hasError('required')" class="invalid-feedback">
                            {{ 'label.validation.passwordRequired' | translate }}
                        </div>
                        <div *ngIf="form.get('password')!.hasError('required') == false && (form.get('password')!.hasError('minlength') || form.get('password')!.hasError('invalidPasswordFormat'))"
                            class="invalid-feedback">
                            {{ 'label.validation.invalidPassword' | translate }}
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" (click)="togglePasswordVisibility()">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{ 'label.showPassword' | translate }}
                            </label>
                        </div>
                    </div>

                    <!-- Password repeat input -->
                    <div class="form-floating mb-3">
                        <input type="password" formControlName="passwordRepeat" autocomplete="new-password" class="form-control"
                            id="inputPasswordRepeat" placeholder
                            [ngClass]="{ 'is-invalid': form.get('passwordRepeat')!.invalid && this.submited }">
                        <label for="inputPasswordRepeat">{{ 'label.passwordRepeat' | translate }}</label>
                        <div *ngIf="form.get('passwordRepeat')!.hasError('required')" class="invalid-feedback">
                            {{ 'label.validation.passwordConfirmationRequired' | translate }}
                        </div>
                        <div *ngIf="form.get('passwordRepeat')!.hasError('required') == false && (form.get('passwordRepeat')!.hasError('minlength') || form.get('passwordRepeat')!.hasError('invalidPasswordFormat'))"
                            class="invalid-feedback">
                            {{ 'label.validation.invalidPassword' | translate }}
                        </div>
                    </div>

                    <!-- Submit button -->
                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg fw-bold" type="submit" [disabled]="this.disableForm">
                            {{ 'label.register' | translate }}
                        </button>
                    </div>
                </form>

                <hr class="my-5">
                <h5 class="text-center mb-4 fw-bold">{{ 'label.register.alternative' | translate }}</h5>

                <div class="d-grid">
                    <button class="btn btn-outline-primary btn-lg fw-bold" [routerLink]="'/auth/login'" type="submit">
                        {{ 'label.login' | translate }}</button>
                </div>
            </div>
        </div>
    </section>

</main>