<p-toast position="bottom-center" [breakpoints]="{'920px': {width: '90%'}}"></p-toast>

<main class="container my-5">
    <section class="mx-3">
        <div *ngIf="!loading" class="row">
            <!-- Primera columna -->
            <div class="col-md-8">
                <!-- Imágenes del producto -->

                <ng-container
                    *ngIf="targetColorProductVariant?.productImageList && targetColorProductVariant?.productImageList!.length > 0; else noImages">
                    <p-galleria [value]="targetColorProductVariant?.productImageList!" [circular]="true"
                        [showItemNavigators]="true" [showThumbnails]="false" [autoPlay]="true"
                        [transitionInterval]="3000" [showItemNavigatorsOnHover]="true">
                        <ng-template pTemplate="item" let-image>
                            <img appImgBroken [defaultImage]="'assets/images/image-not-available.png'"
                                [src]="image.fileUrl" class="d-block w-100" alt="{{ image.fileName }}" />
                        </ng-template>
                    </p-galleria>

                </ng-container>
                <ng-template #noImages>

                    <p-galleria [value]="[targetColorProductVariant?.mainImageUrl]" [showItemNavigators]="false"
                        [showThumbnails]="false">
                        <ng-template pTemplate="item" let-image>
                            <img appImgBroken [defaultImage]="'assets/images/image-not-available.png'" [src]="image"
                                class="d-block w-100" alt="{{ targetColorProductVariant?.mainImageName }}" />
                        </ng-template>
                    </p-galleria>

                </ng-template>

            </div>

            <!-- Segunda columna -->
            <div class="col-md-4">
                <!-- Título del producto -->
                <h2 class="fw-bold mt-5">{{ this.targetColorProductVariant?.product?.title }}</h2>

                <!-- Precio del producto -->
                <p class="fs-6">{{ this.targetColorProductVariant?.finalPrice }} €</p>

                <div class="mb-4">

                    <div class="row row-cols-3 row-cols-md-4">

                        <!-- Itera sobre las imágenes de otras variaciones de color -->
                        <div class="col-md-4" *ngFor="let colorProductVariant of this.colorProductVariantList">
                            <a [routerLink]="['/products', colorProductVariant.product.slug]"
                                [queryParams]="{ color: colorProductVariant.color.slug}">
                                <img appImgBroken [defaultImage]="'assets/images/image-not-available.png'"
                                    [src]="colorProductVariant.mainImageUrl" class="img-fluid"
                                    alt="{{ colorProductVariant.color.slug }}"
                                    [class.selected-color-variant]="colorProductVariant.id === targetColorProductVariant?.id" />

                            </a>
                        </div>
                    </div>
                </div>

                <!-- Selección de tallas -->
                <div class="mb-4">
                    <p>{{ 'label.selectSize' | translate }}</p>
                    <div class="btn-group" role="group" aria-label="Tallas">
                        <button type="button" class="btn btn-outline-primary fw-bold"
                            *ngFor="let sizeVariant of this.sizeColorProductVariantList | sizeListSort;"
                            (click)="selectSize(sizeVariant)"
                            [class.selected-size-variant]="sizeVariant.id === selectedSizeVariant?.id">{{
                            sizeVariant.size
                            }}</button>
                    </div>
                </div>

                <!-- Botón de añadir al carrito -->
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary btn-lg fw-bold" (click)="addToCart()"
                        [disabled]="disableAddToCartButton || buttonCooldown">
                        <span *ngIf="!buttonCooldown">
                            {{ 'label.addToCart' | translate }}
                        </span>
                        <span *ngIf="buttonCooldown" class="spinner-border spinner-border-sm me-2" role="status"
                            aria-hidden="true"></span>
                    </button>
                </div>
                <hr class="mt-5">

                <!-- Descripción del producto -->
                <div class="mt-5" [innerHTML]="this.targetColorProductVariant?.product?.description"></div>

            </div>
        </div>
    </section>
</main>